<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PSG : {{titre}}</title>
    <link rel="shortcut icon" href="{{ asset('images/favicon.ico') }}" />

    {% block styles %} 
      <!-- DATABASE -->
      <link rel="stylesheet" href="https://cdn.datatables.net/v/bs4/jszip-3.10.1/dt-2.1.8/b-3.2.0/b-html5-3.2.0/b-print-3.2.0/datatables.min.css">
      <link rel="stylesheet" href="{{ asset('styles/typicons.font/font/typicons.css') }}" />
      <link rel="stylesheet" href="{{ asset('styles/vendor.bundle.base.css') }}" />
      <link rel="stylesheet" href="{{ asset('styles/vertical-layout-light/style.css') }}" />
      <link rel="stylesheet" href="{{ asset('styles/app.css') }}" />
    {% endblock %}
    
  </head>