{% extends 'base.html.twig' %}

{% block title %}Tableau de bord
{% endblock %}


{% block body %}
	<div class="content-wrapper">

		<div class="row mb-5">
			<div class="col-sm-6">
				<h3 class="mb-0 font-weight-bold">
					<i class="typcn typcn-device-desktop menu-icon"></i>
					Tableau de bord
				</h3>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<div class="accordion" id="accordionPremier">

				{% for key, classement in classements %}				
					<div class="card">
						<!-- Entête de l'accordion -->
						<div class="card-header" id="heading{{loop.index}}">
							<div class="row mb-0">
								<div class="col-lg-3">
									<div class="row">
										<div class="col-lg-12">
											<h1 style="margin:0px;padding:0px;padding-left:20px;font-seize:3em;">{{loop.index}}</h1>
										</div>
										<div class="col-lg-12">
											<button style="text-decoration:none;" class="btn btn-link btn-block text-left btn_orange" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
												{{key|upper}}
											</button>
										</div>
									</div>
								</div>
								<div class="col-lg-3">
									<i class="typcn typcn-device-desktop h1"></i>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-4">
									<hr class="hr_tb" />
								</div>
							</div>
						</div>
						<!-- Contenu accordion  -->
						<div id="collapseOne" class="collapse show" aria-labelledby="heading{{loop.index}}" data-parent="#accordionPremier">
							<div class="card-body card_o">
								<div class="row">

									<div class="col-lg-6" id="stat_classement">
										<table>
											<tr class="t_tr">
												<th class="t_th">
													Classement
												</th>
												<th class="t_th">
													1EM
												</th>
												<th class="t_th">
													2EM
												</th>
												<th class="t_th">
													TR
												</th>
												<th class="t_th">
													%1EM
												</th>
												<th class="t_th">
													%2EM
												</th>
												<th class="t_th">
													[80-100%]
												</th>
											</tr>

											{% for classe, donnees in classement %}
											<tr class="t_tr_td">
												<td class="t_td">
													{{classe}}
												</td>
												<td class="t_td">
													{{donnees['1EM']}}
												</td>
												<td class="t_td">
													{{donnees['2EM']}}
												</td>
												<td class="t_td">
													{{donnees['TR']}}
												</td>
												<td class="t_td">
													{{donnees['%1EM']}}%
												</td>
												<td class="t_td">
													{{donnees['%2EM']}}%
												</td>
												<td class="t_td">
													{% if donnees['[80-100%]'] %}
														<i class="typcn typcn-input-checked text-success h2"></i>
													{% else %}
														<i class="typcn typcn-delete text-danger h2"></i>
													{% endif %}
												</td>
											</tr>
											{% endfor %}											
										</table>
									</div>

									<div class="col-lg-6">

										<div class="row">
											<div class="col-lg-12">
												<h3 class="h_3">Les 2 équipes se marquent ou pas</h3>
											</div>
										</div>

										<div class="row mb-3">
											<div class="col-lg-12 d_b">

												<div class="row h_1">
													<div class="col-lg-12 text-center">
														(1er)
														<strong class="s_b">Arsenal</strong>
														<img style="width:40px;" src="{{asset('images/logo_defaut.png')}}">
														<span class="score">VS</span>
														<img style="width:40px;" src="{{asset('images/logo_defaut.png')}}">
														<strong class="s_b">Wolves</strong>
														(17e)
													</div>
												</div>

												<div class="row text-center h_1">
													<div class="col-lg-12">
														Lundi, 10 Janvier 2026 à 16:30
													</div>
												</div>

												<div class="row h_1">
													<div class="col-lg-12 ">
														<table style="width:100%; text-align:center;">
															<tr>
																<th>Journée</th>
																<th>Classement</th>
																<th>[90-100%]</th>
																<th>Paris</th>
															</tr>
															<tr>
																<td>2e</td>
																<td>1-4</td>
																<td class="text-warning">
																	<strong>95%</strong>
																</td>
																<td class="text-danger">
																	<strong>1EM</strong>
																</td>
															</tr>
														</table>
													</div>
												</div>

											</div>
										</div>

									</div>

								</div>
							</div>
						</div>
					</div>
				{% endfor %}

				</div>
			</div>
		<div>

	</div>

{% endblock %}

{% block scripts %}{% endblock %}
